aniso8601==8.0.0
attrs==19.3.0
click==7.1.2
dnspython==1.16.0
Flask==1.1.2
Flask-Cors==3.0.8
flask-restplus==0.13.0
importlib-metadata==1.6.0
jsonschema==3.2.0
pyrsistent==0.16.0
Werkzeug==0.16.1
redis==4.0.1
requests==2.26.0